* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* CONTAINER */

article {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}

/* PRODUCT TITLE */

h2 {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  background-color: #f8f8f8;
  padding: 12px 0;
}

/* PRICE TAG */

.price-tag {
  font-size: 22px;
}

/* SHIPPING */

.shipping {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.ready {
  margin-bottom: 10px;
}

/* PRODUCT LINK */

a:link,
a:visited {
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */

h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}

li {
  list-style: square;
  margin-bottom: 10px;
}

.features {
  margin-left: 20px;
}

/* ADD TO CART */

button {
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #000;
  width: 100%;
  padding: 15px;
  border-top: 5px solid #000;
}

button:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border-top: 5px solid #000;
}
